body {
    font-family: 'Poppins';
    cursor: default;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-12 {
    width: 100%;
    padding: 0 300px;
    box-sizing: border-box;
}

header {
    background-color: #f1f1f1;
    color: #8D9297;
    text-align: center;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

header a {
    text-decoration: none;
    color: #8D9297;
}

header i {
    font-size: 16px;
}

nav {
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 9px 9px 1px rgba(0, 0, 0, 0.171);
}

nav h1 {
    color: rgba(10, 0, 38, 0.867);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
}

.lista {
    display: flex;
    justify-content: center;
    gap: 8px;
}

input {
    display: none;
}

label {
    display: none;
}

@media (max-width: 1100px) {

    .secciones:active {
        color: #1f1930 !important;
    }

    .active{
        background-color: #6b6b6b00 !important;
        color: #1f1930 !important;
    }

    .secciones:hover {
        background-color: #f1f1f100 !important;
    }

    input:checked~ul {
        display: block;
        position: fixed;
        top: 120px;
        right: 0px;
        background-color: white;
        z-index: 1;
    }

    input:checked~label {
        background-color: #1f1930;
        color: white;
    }

    label:hover {
        background: #f1f1f1;
    }

    .labeldiv{
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .lista a li {
        text-align: right;
    }

    label {
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #1f1930;
        border-radius: 5px;
        width: 50px;
        height: 40px;
        font-size: 25px;
        line-height: 30px;
        font-weight: bold;
        user-select: none;
        cursor: pointer;
        background-color: rgb(255, 255, 255);
    }

    .lista {
        display: none;
    }

    nav {
        justify-content: space-around;
    }

    nav div h1 {
        font-size: 34px;
    }

    .seccion {
        display: flex;
        justify-content: baseline;
        align-items: center;
        flex-direction: column;
        height: 600px !important;
        padding-top: 35px;
    }

    .seccion h1,
    p {
        position: static !important;
        text-align: center;
    }

    .seccion h1 {
        font-size: 45px !important;
    }

    .seccion p {
        font-size: 25px !important;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 40px !important;
    }

    .caja {
        margin: auto 30px;
        text-align: center;
        padding: 35px !important;
        display: flex !important;
        justify-content: center !important;
    }

    .caja img {
        display: none;
    }

}

.active {
    text-decoration: none;
    list-style: none;
    color: rgba(10, 0, 38, 0.867);
    font-weight: 500;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(10, 0, 38, 0.867);
    color: white;
}

.secciones {
    text-decoration: none;
    list-style: none;
    color: rgba(10, 0, 38, 0.867);
    font-weight: 500;
    padding: 15px;
    border-radius: 10px;
}

.secciones:hover {
    background-color: #f1f1f1;
    transition: 250ms;
}

.secciones:active {
    background-color: rgba(10, 0, 38, 0.867);
    color: white;
}

.seccion {
    background-image: url('../img/portada2.webp');
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.seccion h1 {
    color: #f1f1f1;
    position: absolute;
    top: 10vh;
    left: 28vh;
    font-size: 80px;
    font-weight: 700;
}

.seccion h1:hover {
    color: rgba(10, 0, 38, 0);
    border: #f1f1f1;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.seccion p {
    color: #8D9297;
    position: absolute;
    top: 22vh;
    left: 28vh;
    font-size: 35px;
    font-weight: 300;
    line-height: 1.1;
}

@media (max-width: 1550px) {
    .seccion h1 {
        color: #f1f1f1;
        position: absolute;
        top: 10vh;
        left: 19vh;
        font-size: 80px;
        font-weight: 700;
    }

    .seccion p {
        color: #8D9297;
        position: absolute;
        top: 22vh;
        left: 19vh;
        font-size: 35px;
        font-weight: 300;
        line-height: 1.1;
    }
}

@media (max-width: 1400px) {
    .seccion h1 {
        color: #f1f1f1;
        position: absolute;
        top: 10vh;
        left: 14vh;
        font-size: 80px;
        font-weight: 700;
    }

    .seccion p {
        color: #8D9297;
        position: absolute;
        top: 22vh;
        left: 14vh;
        font-size: 35px;
        font-weight: 300;
        line-height: 1.1;
    }
}

@media (max-width: 1250px) {
    .seccion h1 {
        color: #f1f1f1;
        position: absolute;
        top: 10vh;
        left: 10vh;
        font-size: 80px;
        font-weight: 700;
    }

    .seccion p {
        color: #8D9297;
        position: absolute;
        top: 22vh;
        left: 10vh;
        font-size: 35px;
        font-weight: 300;
        line-height: 1.1;
    }
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.mainh1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    color: rgba(10, 0, 38, 0.867);
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 40px;
}

.mainh1_1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    color: rgba(10, 0, 38, 0.867);
    font-weight: 800;
    margin-top: 40px;
}

@media (max-width: 500px) {
    .mainh1_1 {
        font-size: 40px !important;
    }
}

.mainh2 {
    text-align: center;
    font-size: 24px;
}

.mainh2 a {
    color: rgba(10, 0, 38, 0.867);
}

.mainh2 span {
    color: #6b6b6b;
}

main {
    margin-bottom: 70px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.divh1 {
    height: 200px;
    width: 280px;
    display: flex;
    font-size: 20px;
    text-transform: uppercase;
    background-color: rgba(10, 0, 38, 0.867);
    color: white;
    border-radius: 10px;
    padding: 3px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: 300ms;
}

.divh1:hover {
    background-color: #1f1930;
    transition: 300ms;
    transform: scale(1.03);
}

.menu a {
    text-decoration: none;
    color: white;
}

footer {
    height: 100px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8D9297;
    font-size: 15px;
}

.maindp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja {
    height: 600px;
    width: 900px;
    background-color: rgba(10, 0, 38, 0.867);
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
    align-items: center;
    gap: 40px;
}

.caja ul {
    list-style: none;
    color: white;
    line-height: 1.8;
    font-size: 20px;
}

.caja img {
    height: 94%;
    width: 50%;
    object-fit: cover;
    border: #f1f1f1 solid 3px;
    border-radius: 15px;
}

.caja b {
    font-size: 35px;
}

.caja span {
    color: #d6d6d6;
}